---
BasedOnStyle: Google
---
Language: Cpp
AccessModifierOffset: -2
AlignAfterOpenBracket: BlockIndext
AlignConsecutiveMacros:
  Enabled: true
AllowShortBlocksOnASingleLine: Empty
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterNamespace: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true

IndentWidth: 2
TabWidth: 2
